/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  overflow: auto;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
input:focus,
button:focus {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.ant-layout {
  background-color: #EFEFEF;
  height: 100vh;
}
.ant-layout-header {
  background-color: #11D577;
  color: white;
}
.header-height {
  line-height: 64px;
  height: 64px;
}
.ant-layout-content {
  overflow: scroll;
  padding: 50px;
}
.page-title {
  font-size: 32px;
  font-weight: bold;
}
.ant-table-thead > tr > th {
  background-color: #EFEFEF;
}
.ant-table-row {
  background-color: white;
}
.stat-container .ant-divider {
  background-color: #d9d9d9;
}
.stat-container .stat-number {
  margin-top: 48px;
  color: rgba(0, 0, 0, 0.64);
}
.stat-container .stat-number .number {
  font-size: 32px;
  line-height: 38px;
  color: black;
}
.stat-container .stat-number .title {
  font-size: 16px;
  line-height: 19px;
}
@media only screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 32px;
  }
  .ant-layout-content {
    padding: 32px;
  }
}
