@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, 'Roboto', Arial, sans-serif;
  overflow: auto;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
input:focus,
button:focus {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.ant-layout {
  background-color: #EFEFEF;
  height: 100vh;
}
.ant-layout-header {
  background-color: #11D577;
  color: white;
}
.ant-layout-content {
  overflow: scroll;
  padding: 50px;
}
/*styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  /*not match page*/
  .not-found {
    width: 100%;
    padding: 16px;
  }
  .not-found > div:first-child {
    font-size: 48px;
  }
}
