/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.date-select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-select-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 42px;
  margin-left: 8px;
}
.date-item-arrow {
  padding: 12px;
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s all;
  background-color: white;
  border: 1px solid #d9d9d9;
}
.date-item-arrow:hover {
  color: #11D577;
  border: 1px solid #11D577;
}
.date-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: capitalize;
  margin-right: 8px;
  padding: 0 12px;
  border-radius: 4px;
  height: 36px;
  line-height: 16px;
  transition: 0.3s all;
  background-color: white;
  border: 1px solid #d9d9d9;
}
.date-item:hover {
  border: 1px solid #11D577;
}
.date-item-active {
  margin-right: 16px;
  margin-left: 4px;
  color: #11D577;
  border-color: #11D577;
  height: 40px;
}
.date-weekend {
  background-color: #f0faf0;
}
.date-item-left,
.date-item-right {
  animation: example;
  display: none;
}
