.header {
	display: flex;
	justify-content: space-between;

}
.logo {
	width: 100%;
	min-width: 36px;
	min-height: 36px;
	max-width: 48px;
	max-height: 48px;
}
.nav-link a {
	text-decoration: none;
	color: white;
	transition: opacity 0.3s;
	opacity: 0.6;
	&:hover { opacity: 0.8; }
	&.active { opacity: 1; }
}
.nav-link i {
	margin: 0 4px;
}
.user-name {
	margin: 0 12px;
}