/*authorization*/
.content-auth{
  min-height: 468px;
  margin-top: 80px;
  justify-content: center !important;
}
.auth-contain{
  padding-left: 16px;
  padding-right: 16px;
  max-width: 440px;
  box-sizing: content-box;
  margin: 0 auto;
}
.auth-cart{
  margin: 0 auto;
  background-color: #fff;
  box-shadow: var(--cart-shadow);
  padding: 40px 32px;
  min-width: 420px;
  width: 448px;
  min-height: 320px;
  max-height: 400px;

}
.user-agreement{
  font-size: 14px;
}
.auth-logo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: 40px;
}
.auth-title{
  display: flex;
  justify-content: space-between;
  font-size: 24px;

}
.auth-subtitle{
	font-size: 16px;
  margin-bottom: 16px;
}
.auth-submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.auth-submit a{
  font-size: 16px;
}
.auth-footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 40px;
}
.auth-footer span{
  margin-bottom: 25px;
}
.auth-footer > div:last-child{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}
.auth-back{
  margin-top: 40px;
}
.centerElements div{
  display: flex;
  align-items: center;
}

[data-tip] {
  position:relative;

}
[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a; 
  position:absolute;
  top:60px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:65px;
  left:0px;
  padding:5px 8px;
  background:#1a1a1a;
  color:#fff;
  z-index:9;
  font-size: 0.75em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display:block;
}
/*progress*/
.linearProgress{
  display: inherit !important;
  max-width: 448px;
  margin: 0 auto !important;
}
.linearProgress>div div{
  background-color: var(--blue) !important;
}
.error-block {
  color: red;
  font-size: 12px;
}
/*styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width:480px){
  body{
    background-color: #fff;
  }
  .content-auth{
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px;
    background-color: #fff;
  }
	.auth-cart{
    width: 100%;
    min-width: 100%;
		box-shadow: none;
    margin: 0px;
    padding: 16px;
	}
	.errors-block{
		padding: 0px;
	}
}