@import "../../styles/variables.less";

.add-class-form {
	background-color: white;
	padding: 16px;
	margin-top: 40px;
}
.form-label {
	color: rgba(0, 0, 0, 0.32);
}
.time-picker {
	color: rgba(0, 0, 0, 0.32);
	display: inline-block;
	transition: 0.3s all;
	border: 1px solid @normal-color;
	border-radius: 4px;
	&:hover, &:active, &:focus {
		border-color: @primary-color;
	}
	.ant-time-picker-input { border: none; }
	.ant-time-picker:first-child .ant-time-picker-input { text-align: right; }
	.ant-time-picker { width: 112px; }
	.ant-time-picker-icon { display: none; }
}
